html {
    font-family: sans-serif;
}

.profile-picture {
    height: auto;
    width: 200px;
}

.top-nav {
    text-align: center; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    padding-top: 60px;
    width: 1000px;
    margin: 20px auto; 
}
